.lr-c-global-learning-resources-page__filters-mobile {
  display: none;
  background-color: var(--pf-v5-global--BackgroundColor--100);

  &--input {
    flex-grow: 1;
    width: 60%;
  }
}

.lr-c-global-learning-resources-page__filters-container {
  position: relative;
}

.lr-c-global-learning-resources-page__filters-row {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap; /* Ensure elements remain in one row */
}

.lr-c-global-learning-resources-page__filters-input {
  flex-grow: 1; /* Allow the input to expand and take up available space */
}

.lr-c-global-learning-resources-page__menu-container {
  position: absolute;
  top: calc(100% + 8px); /* Position below input and buttons */
  left: 10%; 
  width: 80vw; 
  z-index: 1000;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px; 
  overflow: hidden; 
}

.lr-c-global-learning-resources-page__menu .pf-c-menu__list {
  padding: 0; 
}

.lr-c-global-learning-resources-page__menu .pf-c-menu__item {
  padding: 8px 12px; 
  font-size: 14px; 
}

@media only screen and (max-width: 550px) {
  .lr-c-global-learning-resources-page__filters-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--input {
      margin-right: var(--pf-v5-global--spacer--sm);
    }
  }
}

@media only screen and (max-width: 360px) {
  .lr-c-global-learning-resources-page__filters-mobile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    &--icon, &--button {
      margin-right: var(--pf-v5-global--spacer--md);
    }

    &--input {
      width: 100%; 
      flex-grow: 1;
      margin-bottom: var(--pf-v5-global--spacer--sm);
    }
  }
}




