.lr-c-global-learning-resources-page {
  &__header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: var(--pf-v5-global--palette--black-100);
  }

  &__separator {
    width: 2px;
    height: 100%;
    background-color: var(--pf-v5-global--palette--black-300);
    margin-right: 20px;
  }

  &__icon {
    padding: 20px;
  }

  &__title {
    font-weight: 600;
    font-size: 25px;
  }

  &__text {
    font-size: 18px;
  }
}
